version: '3.8'

services:
  db:
    image: postgres:15
    container_name: miboletin_db
    environment:
      POSTGRES_DB: miboletin
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: miboletin_app
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
    depends_on:
      - db

volumes:
  postgres_data: